<div class="col-md-12 tab-container">
	<table class="table" style="width: 50%;">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Main Interval</th>
			<th>Sub Interval1</th>
			<th>Sub Interval2</th>
			<th>Sub Interval3</th>
			<th>Expiry date</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="comodity in comodities">
			<td ng-bind="comodity.id"></td>
			<td ng-bind="comodity.name"></td>
			<td ng-bind="comodity.mainInterval1"></td>
			<td ng-bind="comodity.subInterval1"></td>
			<td ng-bind="comodity.subInterval2"></td>
			<td ng-bind="comodity.subInterval3"></td>
			<td>
				<div class="pointer">
                    <span class="glyphicon glyphicon-menu-hamburger" ng-click="editComodity($index)"></span>
                    <span class="glyphicon glyphicon-remove" ng-click="deleteComodity($index)"></span>
                </div>
			</td>
		</tr>
	</table>
	
	<div class="btn btn-success" ng-click="addComodity()">Add comodity</div>
</div>

<script type="text/ng-template" id="comodity-modal.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="heading"></h3>
    </div>
    <div class="modal-body">
		<div class="row popup-row">
            <div class="col-md-12">
                <div class="col-md-6 text-right popup-label">
                    <label for="comodity-name">Comodity name:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="comodity-name" ng-model="comodity.comodityName"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>