html, body{
	margin: 0;
}

*{
	font-family: Tahoma;
	font-size: 12px;
}

.hide{
	display: none;
}

.bold{
	font-weight: bold;
}

.left{
	float: left;
}

.pointer{
	cursor: pointer;
}

.text-center{
	text-align: center;
}

.editable-fields{
	padding: 2px 0px 2px 0px;
}

.commodity-wrapper:nth-child(even) {
	background: #FCF0DC;
}

/*Over riding bootstrap classes*/
.panel-heading{
	width: 100px;
	cursor: pointer;
}

.panel{
	border: none;
}

.panel-body div{
	text-align: left;
}

/* App styles*/
.commodity{
	padding: 10px;
	display: inline-block;
}

.group-wrapper{
	width: 95%;
	padding: 10px;
}

.commodity span.delimiter{
	font-weight: bold;
	float: left;
	padding: 10px 0px;
}

.commodity-value{
	text-align: center !important;
	min-width: 65px;
	padding: 10px 0px;
	float: left;
}

.commodity-option{
	min-width: 40px;
}

.remove-btn{
	width: 40px;
	border-radius: 3px;
	height: 25px;
	padding: 0px;
	margin-top: 10px;
}

.commodity-wrapper{
	max-width: 650px;
	cursor: pointer;
}

.add-btn-wrapper{
	margin: 10px;
}

.calendar-icon{
	/*font-size: 10px !important;*/
}

.place-order{
	margin: 0 auto;
}

.footer{
	position: fixed;
	bottom: 0px;
	padding: 10px;
	background-color: #fff;
	width: 100%;
}

.grp-success{
	background-color: #5cb85c !important;
	text-align: center;
	color: white !important;
	font-weight: bold;
}

.grp-default{
	text-align: center;
	font-weight: bold;
}


.popup-row{
	margin: 10px 0px;
}

#exp-date{
	width: 90%;
}

div.groupWrapper:nth-child(odd) {
  background-color: #E5E1E1;
}

td{
	height: 40px;
}

#last-sold-value{
	font-weight: bold;
	text-align: center;
	padding-left: 5px;
}

.clear{
	clear: both;
}

.empty-div{
	height: 50px;
}

.groups-length{
	padding: 10px;
}

.header-div{
	width: 90%;
}

.legend{
	font-size: 10px;
}

.userList{
	padding: 10px 0px;
}

.commodity-enddate{
	min-width: 90px;
}

.left-over-grps .panel-heading{
	width: 150px;
}

.header-wrapper{
	padding: 10px;
}

.header-btn{
	margin-top: 5px;
}

.tab-container{
	padding: 10px;
}

.glyphicon-remove{
	color: red;
	font-weight: bold;
}

.addrow-wrapper{
	margin-top: 15px;
}

.price-field{
	width: 10%;
}

.menu-button{
	height: 30px;
}

.menu-item{
	height: 40px;]
}

@media (max-width: 360px) {
	.popup-label{
		text-align: left;
		margin: 8px 0px;
	}	

	.popup-row{
		margin: 10px 0px;
	}
}

@media (max-width: 640px) {
	.popup-label{
		text-align: left;
		margin: 8px 0px;
	}	

	.popup-row{
		margin: 10px 0px;
	}
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td {
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding: 6px 6px 0px 50%;
		text-align: left !important;
	}
	
	.price-field{
		width: 100%;
	}
	
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	
	table tr:nth-child(odd) {
	  background-color: #E5E1E1;
	}
	
	div.groupWrapper:nth-child(odd) {
	  background-color: white;
	}
	
	.editable-fields{
		padding: 6px 6px 0px 50%;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Commodity"; }
	td:nth-of-type(2):before { content: "Expiry date"; }
	td:nth-of-type(3):before { content: "Prev sell price"; }
	td:nth-of-type(4):before { content: "Prev sell date"; }
	td:nth-of-type(5):before { content: "Prev sell qty"; }
	td:nth-of-type(6):before { content: "Order price"; }
	td:nth-of-type(7):before { content: "Buy quantity"; }
	td:nth-of-type(8):before { content: "Sell quantity"; }
	td:nth-of-type(9):before { content: "Delete"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0;
		width: 320px; }
	}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		width: 495px;
	}
}